<div class='merge'>
    <form id="merge_with" name="merge" action="merge_with" method="post">
      <h4><%= _("Merge Articles") %></h4>
      Article ID
      <input type=text_field id='merge_with' name="merge_with", style= width: '100' %></br>
      <input type="submit" value='Merge' %>
    </form>
</div>
